
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: 650px;
  font-weight: 700;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}

.orange-color{
    color: #E95A08;
}
/* nav-bar section */

.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 120px;
}
.cart-icon{
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
.nav-left{
    width: 135px;
    height: 82px;
}
.nav-right a{
    margin-right: 48px;
    text-decoration: none;
}
.nav-right{
    display: flex;
}
.home{
    font-weight: 700;
    color: #252432;
}
.nav-rightt{
    font-weight: 400;
    color: #8987A1;
}
.cart{
    font-weight: 400;
    color: #000000;
}


/* banner section */

.banner-section{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 120px;
}

.banner-flower{
    height: 355px;
    width: 570px;
    padding-top: 106px;
}

.banner-text{
    padding-top: 162px;

}

.banner-text h3{
    font-size: 65px;
    font-weight: 700;

}

.banner-text p{
    font-size: 22px;
    font-weight: 400;
    color: rgb(0, 0, 0, 50%);
    padding-top: 13px;
}


/* plants section */

.plants-section{
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 49px;
}

.plants-heading{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.plants-heading-paragraph p{
    font-size: 22px;
    font-weight: 400;
    color: rgb(0, 0, 0, 50%);
    padding-left: 126px;
    padding-right: 126px;
    padding-top: 16px;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 49px;
    text-align: center;
    margin-bottom: 210.12px;
}

.container img{
    width: 270px;
    height: 322.94px;
}
.price{
    font-weight: 700;
    font-size: medium;
    font-weight: 22px;
    padding-bottom: 30px;
}
.flower-name{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: medium;
    font-weight: 22px;

}
.container p{
    text-align: center;
}

.container button{
    text-align: center;
    padding: 19px 80px 19px 80px;
    background-color: #E95A08;
    color: #FFFFFF;
    font-size:16px ;
    font-weight: 600;
    border: none;
}

.btn{
    padding-bottom: 30px;
}

.b-button:hover {
    background-color: whitesmoke;
    color: #E95A08;
    cursor: pointer;
}


/* plants-lover-section*/

.plants-lover{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 133.88px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plants-lover-img{
    width:540px ;
    height:597px ;
    
}

.plants-lover-text{
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 60px;

}

.plants-lover-title{
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}

.plants-lover-subtitle{
    font-size: 22px;
    font-weight: 400;
    color: rgb(0, 0, 0, 50%);
}

.plants-lover-subtitle li{
    padding-top: 20px;
}